body {
    --text: #eee8e7;
    --background: #140c0a;
    --primary: #dba395;
    --secondary: #913621;
    --accent: #e44825;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    background-color: #494646;
    text-align: center;
}