body {
    --text: #0e110f;
    --background: #e1ebe3;
    --primary: #86af90;
    --secondary: #a2c3aa;
    --accent: #4d845d;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text);
    background-color: var(--background);
    text-align: center;
    overflow-y: scroll
}

@media (prefers-color-scheme: dark) {
    body {
        --text: #eef1ef;
        --background: #0b0f0c;
        --primary: #68816e;
        --secondary: #314b38;
        --accent: #7bb28b;
    }
}

.icon {
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--text)
} 